:root {
  /* Colors */

  /* Primary */

  --BrightBlue: hsl(220, 98%, 61%);
  --CheckBackground: hsl(280, 87%, 65%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: hsl(236, 33%, 92%);
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0 !important;
}

/* HEADER */

header {
  background-image: url("images/bg-mobile-light.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading {
  font-size: 2rem;
}

.theme-icon {
  font-size: 1.5rem;
}

/* MAIN */

main {
  position: relative;
  bottom: 2em;
  z-index: 1;
}

.todo-card {
  padding: 0.5em !important;
}

.todo {
  margin-left: 0.5em;
}

.completed {
  text-decoration: line-through;
}

/* checkbox */
.check {
  font-size: 1.2rem;
  color: rgb(189, 186, 186);
  cursor: pointer;
}

.fa-check-circle {
  color: var(--CheckBackground);
}

@media screen and (min-width: 760px) {
  header {
    background-image: url("images/bg-desktop-light.jpg");
  }

  main,
  .hero {
    max-width: 600px;
  }
  .hero {
    margin: auto;
  }
}
